<section class="flex-container">
    <div class="left-side">
        <div class="logo">
            <a routerLink="/">
                <img src="/assets/images/logo.png" alt="logo">
            </a>
        </div>
    </div>

    <div class="right-side">
        <div class="logo">
            <a routerLink="/">
                <img src="/assets/images/logo.png" alt="logo">
            </a>
        </div>
        <form>
            <div class="top-side">
                <h2>Login</h2>
                <input type="text" name="email" placeholder="Email" [(ngModel)]="user.email" placeholder="Email">
                <input type="password" name="password" placeholder="Senha" [(ngModel)]="user.password">
                <span><a>Esqueceu a senha?</a></span>
            </div>

            <div class="bottom-side">
                <input type="button" value="Login" (click)="login()" [disabled]="isButtonDisabled">
                <span>Não possui conta?<a routerLink="/cadastro">Cadastra-se!</a></span>
            </div>
        </form>
    </div>
</section>