<section class="flex-container">
    <div class="left-side">
        <div class="logo">
            <a routerLink="/">
                <img src="/assets/images/logo.png" alt="logo">
            </a>
        </div>
    </div>

    <div class="right-side">
        <div class="logo">
            <a routerLink="/">
                <img src="/assets/images/logo.png" alt="logo">
            </a>
        </div>

        <form>
            <div class="top-side">
                <h2>Cadastro</h2>
                <input class="margin-top-20" type="text" name="email" placeholder="Email">
                <input class="margin-top-20" type="password" name="password" placeholder="Senha">
                <input class="margin-top-20" type="password" name="password2" placeholder="Confirmar senha">
            </div>

            <div class="bottom-side">
                <input type="button" value="Login">
                <span>Possui uma conta?<a routerLink="/login">Faça login!</a></span>
            </div>
        </form>
    </div>
</section>