<header>
    <div class="logo">
        <a routerLink="/">
            <img src="assets/images/logo.png" alt="logo">
        </a>
    </div>

    <div class="log-out">
        <a (click)="logout()">
            <img src="assets/images/log-out.png" alt="logout">
        </a>
    </div>
</header>

<div class="container">
    <main>
        <div class="upper-side">
            <h2>Lista de tarefas</h2>
            <div class="center-task-list">
                <section class="task-list" *ngIf="tasks.length; else noTasks ">
                  <div class="task" *ngFor="let task of tasks">
                    <p>{{ task.text }}</p>
                    <div class="icons">
                      <div class="icon done" (click)="changeStatusTaskToDone(task.id_task)"></div>
                      <div class="icon edit" (click)="updateTask(task.id_task, task.text)"></div>
                      <div class="icon delete" (click)="deleteTask(task.id_task)"></div>
                    </div>
                  </div>
                </section>
            </div>
        </div>

        <div class="bottom-side">
            <button class="add-task" (click)="addTask()">Adicionar tarefa</button>
        </div>
    </main>
</div>

<ng-template #noTasks>
  <section class="task-list">
    <p>Nenhuma tarefa em andamento encontrada</p>
  </section>
</ng-template>
